///// COLORS /////

// TEXT //
$text_primary: #000000;
$text_secondary: #F55F44;
$text_tertiary: #2E3DCE;
$text_white: #FFFFFF;

// UI ELEMENT //

$coral: #F55F44;
$blue: #2E3DCE;
$white: #FFFFFF;

// FONTS //

@import url(//fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap);
@import url(//fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(//fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);