@import "src/assets/css/variables";

.component_TextInput {
  width: 100%;
  margin-bottom: 30px;

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  &__input {
    background-color: $white;
    border: 1px solid $grey_disabled;
    display: flex;
    align-items: center;
    border-radius: 5px;

    input {
      border-radius: 5px;
    }

    &:active, &:hover, &:focus{
      box-shadow: 0px 0px 2.5px #2881FF;
      border: 1px solid #2881FF;
    }
  }

  &__inputElement {
    border: none;
    padding: 10px;
    flex: 1;
    width: 100%;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &::placeholder {
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }
  }

}