@import "src/assets/css/variables";

.component_SignUp {
  min-height: 80vh;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  &__errorMessageWrapper {

  }

  &__inputsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;

  }
}